<%
=begin
%>
<p>
  <b>Query template:</b>
  <%=h @graph.query_template %>
</p>

<p>
  <b>Lower bound:</b>
  <%=h @graph.lower_bound %>
</p>

<p>
  <b>Upper bound:</b>
  <%=h @graph.upper_bound %>
</p>

<p>
  <b>Step:</b>
  <%=h @graph.step %>
</p>

<p>
  <img src="<%=h @graph.chart_uri %>">
</p>

<p>
  <b>Engine:</b>
  <%=h @graph.engine %>
</p>


<%= link_to 'Edit', edit_graph_path(@graph) %> |
<%= link_to 'Back', graphs_path %>
<%
=end
%>
